@using System.Web
<!DOCTYPE html>
<html lang="en">
<head>
	@* <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - T1_TmpCut</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/T1_TmpCut.styles.css" asp-append-version="true" /> *@

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>WormHole</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/icon/favicon.png">

	<!-- CSS here -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.css">
	<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/assets/css/slicknav.css">
	<link rel="stylesheet" href="~/assets/css/animate.min.css">
	<link rel="stylesheet" href="~/assets/css/price_rangs.css">
	<link rel="stylesheet" href="~/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="~/assets/css/themify-icons.css">
	<link rel="stylesheet" href="~/assets/css/slick.css">
	<link rel="stylesheet" href="~/assets/css/nice-select.css">
	<link rel="stylesheet" href="~/assets/css/style.css">
	<link href="~/css/borneol.css" rel="stylesheet" />
	<link href="~/assets/css/amy.css" rel="stylesheet" />
	<link href="~/assets/css/alissa.css" rel="stylesheet" />
	@* 跑馬燈用css *@
	<link href="~/css/Sam.css" rel="stylesheet">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.8.4/axios.min.js" integrity="sha512-2A1+/TAny5loNGk3RBbk11FwoKXYOMfAK6R7r4CpQH7Luz4pezqEGcfphoNzB7SM4dixUoJsKkBsB6kg+dNE2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
	<header>
		<div class="header-area">
			<div class="main-header ">
				<div id="onlyLayout">
					<!--好友列表-->
					<div>
						<button class="toggleBtn" :class="{active:isSidebarOpen}" @@click="sidebarController()" style="background-color:#333; border-radius:0 100% 100% 0;">{{sidebarControllerText}}</button>

						<div class="sidebar" :class="{active:isSidebarOpen}">
							<div style="width:100%; height:100%; padding:3px;">															
								<div style="border-bottom:2px solid black; margin-bottom:20px;">
									<h1 style="margin-bottom: 10px; color: whitesmoke; font-size:36px;">好友列表</h1>
									<ul v-for="friend in relations" :key="friend.inviteeId">
										<li>
											<div class="row">
												<a class="col-7" :href="'/User/ViewProfile?id='+friend.inviteeId">
													<h3 style="margin-left:10px; color:whitesmoke;font-size:26px;">{{friend.inviteeName}}</h3>
													<p class="ellipsis-text" style="margin-left:10px;color: whitesmoke;font-size:18px;">{{friend.relationType}}</p>
												</a>
												@* <div class="col-2"> *@
												@*     <button type="button" class="btn btn-warning" style="width: 100%;" @@click="acceptInvite(self.inviterId)">Accept</button> *@
												@* </div> *@
												<div class="col-5">
													<button id="break" type="button" class="btn btn-warning" style="width: 100%;" @@click="breakInvite(friend.inviteeId)">刪除</button>
												</div>
											</div>
										</li>
									</ul>
									@* <a href="#" style="font-size: 16px; color: blue;">Show More</a> *@
								</div>
								<div style="border-bottom:2px solid black; margin-bottom:20px;">
									<h1 style="margin-bottom: 10px; color: whitesmoke;font-size:36px;">已送出的邀請</h1>
									<ul v-for="invitee in invitings" :key="invitee.inviteeId">
										<li>
											<div class="row">
												<a class="col-7" :href="'/User/ViewProfile?id='+invitee.inviteeId">
													<h3 style="margin-left:10px; color:whitesmoke;font-size:26px;">{{invitee.inviteeName}}</h3>
													<p class="ellipsis-text" style="margin-left:10px;color: whitesmoke;font-size:18px;">{{invitee.invite}}</p>
												</a>
												@* <div class="col-2"> *@
												@*     <button type="button" class="btn btn-warning" style="width: 100%;" @@click="acceptInvite(invitee.inviteeId)">Accept</button> *@
												@* </div> *@
												<div class="col-5">
													<button id="cancel" type="button" class="btn btn-warning" style="width: 100%;" @@click="breakInvite(invitee.inviteeId)">取消</button>
												</div>
											</div>
										</li>
									</ul>
									@* <a href="#" style="font-size: 16px; color: blue;">Show More</a> *@
								</div>
								<div style="border-bottom:2px solid black; margin-bottom:20px;">
									<h1 style="margin-bottom: 10px; color: whitesmoke;font-size:36px;">接收到的邀請</h1>
									<ul v-for="invitingMe in myInvitings" :key="invitingMe.inviterId">
										<li>
											<div class="row">
												<a class="col-7" :href="'/User/ViewProfile?id='+invitingMe.inviterId">
													<h3 style="margin-left:10px; color:whitesmoke;font-size:26px;">{{invitingMe.inviterName}}</h3>
													<p class="ellipsis-text" style="margin-left:10px;color: whitesmoke;font-size:18px;">{{invitingMe.invite}}</p>
												</a>
												<div class="col-5">
													<button id="accept" type="button" class="btn btn-warning" style="width: 100%;" @@click="acceptInvite(invitingMe.inviterId)">同意</button>
													<button id="refuse" type="button" class="btn btn-warning" style="width: 100%;" @@click="refuseInvite(invitingMe.inviterId)">拒絕</button>
												</div>												
											</div>
										</li>
									</ul>
									     @* <a href="#" style="font-size: 16px; color: blue;">Show More</a>  *@
								</div>	
								<div class="mapLink">
									<a asp-controller="Home" asp-action="Map">在地圖上查看</a>
								</div>
							</div>														
						</div>
					</div>
					<!--好友列表-->
					<div class="header-top ">
						<div class="container">
							<div class="row">
								<div class="col-xl-12">
									<div class="d-flex justify-content-between align-items-center flex-sm">
										<div class="header-info-left d-flex align-items-center">
											<!-- logo -->
											<div class="logo ">
												<a class="nav-link" asp-controller="Home" asp-action="Index"><img src="/assets/img/logo/logo.png" alt=""></a>
											</div>
											<!-- Search Box  4/24 Borneol 配合實際搜尋功能修建<form>→<div> class="form-box"，<input> class="form-control"+v-model="keyword"+@@keyup.enter="sendSearchText"-->
											<div class="form-box">
												<input class="form-control" type="text" name="Search" placeholder="Search Articles by Author or Title" v-model="keyword" @@keyup.enter="sendSearchText" />
												<div class="search-icon">
													<i class="ti-search"></i>
												</div>
											</div>
											<!-- Search Box  4/24 Borneol 配合實際搜尋功能修建<form>→<div> class="form-box"，<input> class="form-control"+v-model="keyword"+@@keyup.enter="sendSearchText"-->
										</div>
										<div class="header-info-right d-flex align-items-center">
											<ul>
												@* <li><a href="#">FAQ</a></li> *@
												@* <li><a href="#">Track Order</a></li>*@
												<li class="nav-item dropdown" style="z-index:9999;" v-for="user in userInfoForLayout">
													<a class="nav-link dropdown-toggle"
														style="color:whitesmoke;"
													   href="#"
													   id="dropdownId"
													   data-bs-toggle="dropdown"
													   aria-haspopup="true"
													   aria-expanded="false">{{user.nickname}}</a>
													@* <div class="shopping-card"> *@
													<a class="" asp-controller="User" asp-action="Index" style="width:40px;"><img class="img-fluid" :src="'/api/User/GetPhoto?id='+user.userId" alt=""></a>
													@* </div> *@
													<div class="dropdown-menu"
														 aria-labelledby="dropdownId" v-for="layoutItem in userInfoForLayout">
														<template v-if="layoutItem.isAdmin==false && layoutItem.isLogin==true" class="wormhole-word-noColor">
															<div class="wormhole-userInfo" style="width:300px; border-bottom:2px solid gray;">
																<h3>我的名片</h3>
																<label>使用者名稱</label>
																<p>{{layoutItem.name}}</p>
																<label>暱稱</label>
																<p>{{layoutItem.nickname}}</p>
															</div>
															@* <a class="dropdown-item" asp-controller="User" asp-action="TestRelation">TestRelation</a> *@
															@* <a class="dropdown-item" href="#">使用者設定</a> *@
															<a class="dropdown-item" href="/Account/Logout">登出</a>
														</template>
														<template v-else-if="layoutItem.isAdmin==true && layoutItem.isLogin==true">
															<div class="dropdown-item" style="width:300px; border-bottom:2px solid gray;">
																<h3>管理員名稱</h3>
																<label>Manager Name</label>
																<p>{{layoutItem.managerName}}</p>
																<label>組別</label>
																<p>{{layoutItem.managerTeam}}</p>
															</div>
															@* <a class="dropdown-item" href="#">使用者設定</a> *@
															<a class="dropdown-item" href="/BOManager/Logout">登出</a>
														</template>
														@* <template v-else> *@
														@* 	<div class="dropdown-item" style="width:300px; border-bottom:2px solid gray;"> *@
														@* 		<h1>{{layoutItem.empInfo}}</h1> *@
														@* 	</div>															 *@
														@* </template> *@
														@* <a class="dropdown-item" href="#">使用者設定</a> *@
														@* <a class="dropdown-item" href="/Account/Logout">登出</a> *@
														@* <template v-else> *@
														@* 	<li><a href="/Account/Login" class="genric-btn primary-border circle arrow">Login</a></li> *@
														@* 	<li><a href="/Account/Register" class="genric-btn primary-border circle arrow">Register</a></li> *@
														@* </template> *@
													</div>													
												</li>
												<li v-if="isLogin==false"><a href="/Account/Login" class="genric-btn primary-border circle arrow">登入</a></li>
												<li v-if="isLogin==false"><a href="/Account/Register" class="genric-btn primary-border circle arrow">註冊</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header-bottom  header-sticky">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-xl-12">
								<!-- logo 2 -->
								<div class="logo2">
									<a asp-controller="Home" asp-action="Index"><img src="assets/img/logo/logo.png" alt=""></a>
								</div>
								<div class="header-bottom  header-sticky">
									<div class="container">
										<div class="row align-items-center">
											<div class="col-xl-12">
												<!-- Main-menu -->
												<div class="main-menu text-center d-none d-lg-block">
													<nav>
														<ul id="navigation">
															<li><a asp-controller="Home" asp-action="Index">首頁</a></li>
															<li><a asp-controller="Event" asp-action="Index">活動</a></li>
															<li><a asp-controller="DiscussArticleView" asp-action="Index">討論版</a></li>
															<li><a asp-controller="NewsArticle" asp-action="Index">新聞版</a></li>
															<li><a asp-controller="Obtain" asp-action="Index">Wormhole Shop</a></li>

														</ul>
													</nav>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Mobile Menu -->
								<div class="col-xl-12">
									<div class="mobile_menu d-block d-lg-none"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header End -->

	<div class="container">
		<main role="main" class="ph-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		@* <div class="container"> *@
		@*     &copy; 2025 - t1_tmpcut - <a asp-area="" asp-controller="home" asp-action="privacy">privacy</a> *@
		@* </div> *@
		<div class="footer-wrappper section-bg">
			<div class="footer-area footer-padding wormhole-darkblue">
				<div class="container">
					<div class="row justify-content-between" style="height:250px">
						<div class="col-xl-3 col-lg-5 col-md-4 col-sm-6 d-flex align-items-center" style="height:100%">
							<div class="single-footer-caption">
								<div class="single-footer-caption">
									<!-- logo -->
									<div class="footer-logo">
										<a asp-controller="Home" asp-action="Index"><img src="~/assets/img/logo/logo.png" alt=""></a>
									</div>									
								</div>
							</div>
						</div>						
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="single-footer-caption">
								<div class="footer-tittle">
									<h4>Site Map</h4>
									<ul>
										<li><a asp-controller="Home" asp-action="Index">首頁</a></li>
										<li><a asp-controller="Event" asp-action="Index">活動</a></li>
										<li><a asp-area="" asp-controller="DiscussArticleView" asp-action="Index">討論版</a></li>
										<li><a asp-area="" asp-controller="NewsArticle" asp-action="Index">新聞版</a></li>
										<li><a asp-controller="Obtain" asp-action="Index">Wormhole Shop</a></li>										
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- Scroll Up 圖片版 -->
	@* <div id="back-top"> *@
	@* 	<a title="Go to Top" href="#"><img src="~/images/layout/topicon2.png" style="width:50px;" /></a> *@
	@* </div> *@
	<!-- Scroll Up -->

	<!-- Scroll Up --> 
	<div id="back-top"> 
		<a title="Go to Top" href="#"><i class="fas fa-level-up-alt"></i></a>
	</div>
	<!-- Scroll Up -->
	<!-- JS here -->
	<!-- 4/20 Borneol 建立Vue .mount("#onlyLayout") -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		// 5/6阿鍾新增獎勵發放通知
		document.addEventListener('DOMContentLoaded', function () {
			var hasRewardMessage = @((ViewContext.HttpContext.Items.ContainsKey("RewardMessage") || TempData["RewardMessage"] != null) ? "true" : "false");
			if (hasRewardMessage) {
				Swal.fire({
					title: '獎勵通知',
					text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewContext.HttpContext.Items["RewardMessage"]?.ToString() ?? TempData["RewardMessage"]?.ToString() ?? ""))',
					icon: 'success',
					confirmButtonText: '確定'
				});
			}
		});
		Vue.createApp({
			data(){
				return{
					userInfoForLayout:[],
					userStatusForLayout:[],
					relations:[],
					invitings:[],
					myInvitings:[],
					keyword:"",
					isSidebarOpen: false,
					sidebarControllerText:"☰ 開啟",
					isLogin:false,
					// myUserId:0,
				};
			},
			watch:{

			},
			methods:{
				// 4/20 Borneol getForLayout() Layout使用者下拉選單
				async getForLayout(){
					var self = this;
					await fetch('/api/User/Get',{
					credentials: 'include',
				}).then(x => x.json()).then(res => self.userInfoForLayout = res);
				if(self.userInfoForLayout[0].isLogin==true){
					self.isLogin=true;
				}
				else{
					self.isLogin=false;
				}
				},
				async getUserStatusForLayout(){
					await fetch('/api/User/GetStatus',{
					credentials: 'include',
				}).then(x => x.json()).then(res => self.userStatusForLayout = res);
				},
				// 4/20 Borneol getForLayout() Layout使用者下拉選單

				//Search Box  4/24 Borneol sendSearchText() 配合實際搜尋功能輸入並跳轉頁面至ShowResult
				sendSearchText(){
					let self = this;
					//alert("Enter key pressed: " + self.keyword);
					fetch('/SearchResult/ShowResult').then(res=>{
						if(res){
							window.location.href="/SearchResult/ShowResult?keyword="+encodeURIComponent(self.keyword);
							//alert("The Keyword is : "+self.keyword+");
						}
						else{
								alert("No result found");
						}
					});
				},
				//Search Box  4/24 Borneol sendSearchText() 配合實際搜尋功能輸入並跳轉頁面至ShowResult
				sidebarController(){
					let self = this;
					if(self.isSidebarOpen == false){
						self.isSidebarOpen = true;
						self.sidebarControllerText = "✖ 關閉";
						this.getRelations();
					}
					else{
						self.isSidebarOpen = false;
						self.sidebarControllerText = "☰ 開啟";
						this.clear();
					}
				},
				// 5/04 Borneol sidebar()
				async getRelations(){
				let _this=this;
				let myId=_this.userInfoForLayout[0].userId;
				var i;
				await fetch('/api/Relation/GetRelation',{
						credentials: 'include',
					}).then(x=>x.json()).then(res=>{
						for(i=0;i<res.length;i++){							
							const item = res[i];
							if (item.invite.trim() === "申請中") {
								if (item.inviteeId === parseInt(myId)) {
									_this.myInvitings.push({
									  inviterId: item.inviterId,
									  inviterName: item.inviterName,
									  invite: item.invite
									});
								} else {
									_this.invitings.push({
									  inviteeId: item.inviteeId,
									  inviteeName: item.inviteeName,
									  invite: item.invite
									});
								}
							} else {
								if (item.inviterId === parseInt(myId)) {
									_this.relations.push({
									  inviteeId: item.inviteeId,
									  inviteeName: item.inviteeName,
									  relationType: item.relationType
									});
								} else {
									_this.relations.push({
									  inviteeId: item.inviterId,
									  inviteeName: item.inviterName,
									  relationType: item.relationType
									});
								}
							}
						}
						// alert(myId);
						// alert(JSON.stringify(_this.invitings)+JSON.stringify(_this.relations)+JSON.stringify(_this.myInvitings));
					});
				},
			
				async breakInvite(inviteeId){
					 var request={};
						request.inviterId=this.userInfoForLayout[0].userId;
						request.inviteeId = inviteeId;
						request.invite = "取消邀請";
						request.relationType = "無關係";
						request.inviterName = "";
						request.inviteeName = "";

					 await fetch('/api/Relation/DeleteRelation',{
						 body:JSON.stringify(request),
						 credentials: 'include',
						headers:{
							"Content-Type":"application/json",
							// "Accept":"application/json",
						},
						method:"DELETE",
						}).then(x=>
							alert("以後別做朋友！"),
							this.clear(),							
						);
						this.getRelations();
				},
			 
				 async acceptInvite(inviterId){
					 var request={};
						request.inviterId= inviterId;
						request.inviteeId = this.userInfoForLayout[0].userId;
						request.invite = "同意邀請";
						request.relationType = "Friend";
						request.inviterName = "";
						request.inviteeName = "";

					 await fetch('/api/Relation/AcceptRelation',{
						 body:JSON.stringify(request),
						 credentials: 'include',
						headers:{
							"Content-Type":"application/json",
							// "Accept":"application/json",
						},
						method:"PUT",
						}).then(x=>
							alert("恭喜你們成為了朋友！"),
							this.clear(),							
						);
						this.getRelations();
				 },
				 async refuseInvite(inviterId){
					 var request={};
						request.inviterId= inviterId;
						request.inviteeId = this.userInfoForLayout[0].userId;
						request.invite = "拒絕邀請";
						request.relationType = "Friend";
						request.inviterName = "";
						request.inviteeName = "";

					 await fetch('/api/Relation/RefuseRelation',{
						 body:JSON.stringify(request),
						 credentials: 'include',
						headers:{
							"Content-Type":"application/json",
							// "Accept":"application/json",
						},
						method:"PUT",
						}).then(x=>
							this.clear(),
							// this.getRelations(),
						);
						this.getRelations();
				 },
				 // async getUserId(){
					//  await fetch('/api/User/Get',{
					// 	credentials: 'include',
					// }).then(x=>x.json()).then(res=>{
					// 	this.myUserId=res[0].userId;
					// });
				 // },
				 clear(){
					 this.relations=[];
					 this.invitings=[];
					 this.myInvitings=[];
				 },
				// 5/04 Borneol sidebar()
			},
			mounted(){
				this.getForLayout();
                this.getUserStatusForLayout();
				// this.getRelations();
				// this.getUserId();
			}
		}).mount("#onlyLayout");
	</script>
	<!-- 4/20 Borneol 建立Vue .mount("#onlyLayout") -->
	<!-- Jquery, Popper, Bootstrap -->
	<script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="~/assets/js/popper.min.js"></script>
	<script src="~/assets/js/bootstrap.min.js"></script>

	<!-- Slick-slider , Owl-Carousel ,slick-nav -->
	<script src="~/assets/js/owl.carousel.min.js"></script>
	<script src="~/assets/js/slick.min.js"></script>
	<script src="~/assets/js/jquery.slicknav.min.js"></script>

	<!--wow , counter , waypoint, Nice-select -->
	<script src="~/assets/js/wow.min.js"></script>
	<script src="~/assets/js/jquery.magnific-popup.js"></script>
	<script src="~/assets/js/jquery.nice-select.min.js"></script>
	<script src="~/assets/js/jquery.counterup.min.js"></script>
	<script src="~/assets/js/waypoints.min.js"></script>
	<script src="~/assets/js/price_rangs.js"></script>

	<!-- contact js -->
	<script src="~/assets/js/contact.js"></script>
	<script src="~/assets/js/jquery.form.js"></script>
	<script src="~/assets/js/jquery.validate.min.js"></script>
	<script src="~/assets/js/mail-script.js"></script>
	<script src="~/assets/js/jquery.ajaxchimp.min.js"></script>

	<!--  Plugins, main-Jquery -->
	<script src="~/assets/js/plugins.js"></script>
	<script src="~/assets/js/main.js"></script>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
