@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}
@* <link href="~/css/Sam.css" rel="stylesheet"> *@
@* <link href="~\css\sam.css" rel="stylesheet" /> *@


<!-- 開場動畫區塊 -->
<div id="splash" class="splash-animate">
    <img src="/assets/img/hero/home02.gif" alt="Logo" class="splash-logo" />
</div>
<div>
    <!-- 管理者的隱藏入口輸入框 -->
	<input type="text" id="secret-input" placeholder="請輸入關鍵字..." style="position:fixed;bottom:10px;right:10px;z-index:9999;display:none;">
</div>
<main id="app">
    <!--管理員介面區開始-->
    <template v-if="isAdmin">
        <h1 class="wormhole-word">我是管理員</h1>

        <li><i class="fas fa-edit" style="color:white"></i><a asp-controller="Obtain" asp-action="Index"> Wormhole Shop編輯頁</a></li>
        <br />
        <li><i class="fas fa-edit" style="color:white"></i><a asp-controller="NewsArticle" asp-action="newsPoster"> 新聞發佈</a></li>
        <br />

        <div>
            <table class="sam">
                <tr class="sam">
                    <th class="sam">姓名          </th>
                    <th class="sam">Email         </th>
                    <th class="sam">暱稱          </th>
                    <th class="sam">性別          </th>
                    <th class="sam">電話          </th>
                    <th class="sam">生日          </th>
                    <th class="sam">在線狀態      </th>
                </tr>
                <tr v-for="user in users" :key="user.id" class="sam">
                    <td class="sam">{{ user.name }}                         </td>
                    <td class="sam">{{ user.email }}                        </td>
                    <td class="sam">{{ user.nickname }}                     </td>
                    <td class="sam">{{ user.sex ? '女' : '男' }}            </td>
                    <td class="sam">{{ user.phone }}                        </td>
                    <td class="sam">{{ user.birthday }}                     </td>
                    <td class="sam">{{ user.status ? '在線' : '離線'}}      </td>
                    <td class="sam">
                        <button @@click="openEditModal(user.userId)" class="btnsam">編輯</button>
                        @* <button @@click="deleteUser(user.userId)" class="btnsam">刪除</button> *@
                    </td>
                </tr>
            </table>
        </div>
        <div v-if="isEditModalVisible" class="modal-overlaysam" @@click="closeEditModal"></div>
        <div v-if="isEditModalVisible" class="editsam">
            <table class="sam">
                <tr class="sam">
                    <th class="sam">欄位</th>
                    <th class="sam">數值</th>
                </tr>
                <tr class="sam">
                    <td class="sam">姓名</td>
                    <td class="sam"><input v-model="editUser.name" class="sam-input" /></td>
                </tr>
                <tr class="sam">
                    <td class="sam">Email</td>
                    <td class="sam"><input v-model="editUser.email" class="sam-input" /></td>
                </tr>
                <tr class="sam">
                    <td class="sam">暱稱</td>
                    <td class="sam"><input v-model="editUser.nickname" class="sam-input" /></td>
                </tr>
               
                <tr class="sam">
                    <td class="sam">電話</td>
                    <td class="sam"><input v-model="editUser.phone" class="sam-input" /></td>
                </tr>
            </table>
            <button @@click="saveEditedUser" class="btnsam">儲存</button>
            <button @@click="closeEditModal" class="btnsam">取消</button>
        </div>

        <button @@click="openLevelUpCheck()">{{LevelUpCheckText}}</button>
    </template>
    <!--管理員介面區結束-->
    <!--使用者介面區開始-->
    <template v-else>
        @* <div class="header-bottom  header-sticky"> *@
        @*     <div class="container"> *@
        @*         <div class="row align-items-center"> *@
        @*             <div class="col-xl-12"> *@
        @*                 <!-- Main-menu --> *@
        @*                 <div class="main-menu text-center d-none d-lg-block"> *@
        @*                     <nav> *@
        @*                         <ul id="navigation"> *@

        @*                             <li><a asp-controller="Event" asp-action="Index">Event</a></li> *@
        @*                             <li><a asp-controller="Obtain" asp-action="Index">Obtain</a></li> *@
        @*                             <li><a asp-area="" asp-controller="DiscussArticleView" asp-action="Index">討論版</a></li> *@
        @*                             <li><a asp-area="" asp-controller="NewsArticle" asp-action="Index">新聞版</a></li> *@
        @*                          </ul> *@
        @*                     </nav> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@
        @* <!-- Mobile Menu --> *@
        @* <div class="col-xl-12"> *@
        @*     <div class="mobile_menu d-block d-lg-none"></div> *@
        @* </div> *@
        <!-- slider Area Start-->
        <div class="slider-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="slider">
                            <!-- Single Slider 首頁大圖-->
                            <div class="single-slider slider-height slider-bg1 d-flex align-items-center">
                                <div class="container">
                                    @* <div class="row justify-content-center"> *@
                                    @*     <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-7"> *@
                                    @* <div class="hero-caption "> *@
                                    <div class="circle-image row text-center gx-4">
                                        <div class="col-4">
                                            <a class="nav-link text-dark" asp-controller="Event" asp-action="Index">
                                                <img class="img-fluid" src="~/assets/img/hero/image3.jpg" />
                                                <h5>活動</h5>
                                            </a>
                                        </div>
                                        <div class="col-4 image-hover-group">
                                            <div class="main-image-wrapper">
                                                <img class="img-fluid" src="~/assets/img/hero/image17.jpg" />
                                                <h5>討論板/新聞板</h5>
                                                <div class="sub-images">
                                                    <div>
                                                        <a asp-area="" asp-controller="DiscussArticleView" asp-action="Index">
                                                            <img class="img-fluid" src="~/assets/img/hero/image4.jpg" />
                                                            <p>討論板</p>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <a asp-area="" asp-controller="NewsArticle" asp-action="Index">
                                                            <img class="img-fluid" src="~/assets/img/hero/image8.jpg" />
                                                            <p>新聞板</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <a class="nav-link text-dark" asp-controller="Obtain" asp-action="Index">
                                                <img class="img-fluid" src="~/assets/img/hero/image18.jpg" />
                                                <h5>WormholeShop</h5>
                                            </a>
                                        </div>
                                    </div>
                                    @* <span data-animation="fadeInUp" data-delay=".2s">Science Fiction</span> *@
                                    @* <h1 data-animation="fadeInUp" data-delay=".4s">The History<br> of Phipino</h1>
                                                <a href="#" class="btn hero-btn" data-animation="bounceIn" data-delay=".8s">Browse Store</a> *@
                                    @* </div> *@
                                    @*     </div> *@
                                    @* </div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Best Selling start -->
        <div class="most-popular wormhole-popularArticle-bg">
            @* 跑馬燈目前播放熱門文章  5/3暫時先將跑馬燈註解 先保留*@
            @* <div class="marquee"> *@
            @* <div class="marquee-content"> *@
            @* <span v-for="item in popularArticles" :key="item.id" class="marquee-item"> *@
            @* {{ item.articleTitle }} *@
            @* </span> *@
            @* </div> *@
            @* </div> *@
            @* 跑馬燈目前播放熱門文章  5/3暫時先將跑馬燈註解 先保留*@
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="wormhole-word text-center mb-55">
                            <h2 style="color:whitesmoke;">熱門文章</h2>
                        </div>
                    </div>
                </div>
                <div class="row  d-flex justify-content-center">
                    <div v-for="item in popularArticles" class="col-md-4" style="width:25%;margin:0 20px;">
                        <div class="selling-active h-100">
                            <!-- Single -->
                            <div class="col properties pb-20">
                                <div class="properties-card h-100 d-flex flex-column">
                                    <div class="properties-img">
                                        <a :href="getArticleUrl(item)"><img v-bind:src="'/api/ArticlesApi/GetPicture/'+item.articlesId+'?v='+rand" alt=""></a>
                                    </div>
                                    <div class="properties-caption d-flex flex-column flex-grow-1">
                                        <h3 class="wormhole-title-ellipsis"><a :href="getArticleUrl(item)">{{item.articleTitle}}</a></h3>
                                        <p class="flex-grow-1" style="margin-bottom: 0px;">{{item.name}}</p>
                                        <div class="properties-footer d-flex justify-content-between align-items-center">
                                            <div class="review">
                                                @* <div class="rating"> *@
                                                @*     <i class="fas fa-star"></i> *@
                                                @*     <i class="fas fa-star"></i> *@
                                                @*     <i class="fas fa-star"></i> *@
                                                @*     <i class="fas fa-star"></i> *@
                                                @*     <i class="fas fa-star-half-alt"></i> *@
                                                @* </div> *@
                                                <p>(<span>{{item.popularCount}}</span> Ratings)</p>
                                            </div>
                                            @* <div class="price"> *@
                                            @*     <span>$50</span> *@
                                            @* </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Best Selling End -->
        <!-- Latest-items Start -->
        @* <section class="our-client section-padding best-selling"> *@
        @*     <div class="container"> *@
        @* <div class="row justify-content-between"> *@
        @*     <div class="col-xl-5 col-lg-5 col-md-12"> *@
        @*         <!-- Section Tittle --> *@
        @*         <div class="section-tittle  mb-40"> *@
        @*             <h2>媒體評分</h2> *@
        @*         </div> *@
        @*     </div> *@
        @*     <div class="col-xl-7 col-lg-7 col-md-12"> *@
        @*         <div class="nav-button mb-40"> *@
        @*             <!--Nav Button  --> *@
        @*             <nav> *@
        @*                 <div class="nav nav-tabs" id="nav-tab" role="tablist"> *@
        @*                     <a class="nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one" role="tab" aria-controls="nav-one" aria-selected="true">All</a> *@
        @*                     <a class="nav-link" id="nav-two-tab" data-bs-toggle="tab" href="#nav-two" role="tab" aria-controls="nav-two" aria-selected="false">分類1</a> *@
        @*                     <a class="nav-link" id="nav-three-tab" data-bs-toggle="tab" href="#nav-three" role="tab" aria-controls="nav-three" aria-selected="false">分類2</a> *@
        @*                     <a class="nav-link" id="nav-four-tab" data-bs-toggle="tab" href="#nav-four" role="tab" aria-controls="nav-four" aria-selected="false">分類3</a> *@
        @*                     <a class="nav-link" id="nav-five-tab" data-bs-toggle="tab" href="#nav-five" role="tab" aria-controls="nav-five" aria-selected="false">分類4</a> *@
        @*                 </div> *@
        @*             </nav> *@
        @*             <!--End Nav Button  --> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@
        @* </div> *@
        @* <div class="container"> *@
        @*     <!-- Nav Card --> *@
        @*     <div class="tab-content" id="nav-tabContent"> *@
        @*         <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab"> *@
        @*             <!-- Tab 1 --> *@
        @*             <div class="row"> *@
        @*                 <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"> *@
        @*                     <div class="properties pb-30"> *@
        @* <div class="properties-card"> *@
        @* <div class="properties-img"> *@
        @*     <a href="book-details.html"><img src="assets/img/gallery/best_selling7.jpg" alt=""></a> *@
        @* </div> *@
        @* <div class="properties-caption properties-caption2"> *@
        @* <h3><a href="book-details.html">媒體評分文章1</a></h3> *@
        @* <p>發文者</p> *@
        @* <div class="properties-footer d-flex justify-content-between align-items-center"> *@
        @* <div class="review"> *@
        @* <div class="rating"> *@
        @*     <i class="fas fa-star"></i> *@
        @*     <i class="fas fa-star"></i> *@
        @*     <i class="fas fa-star"></i> *@
        @*     <i class="fas fa-star"></i> *@
        @*     <i class="fas fa-star-half-alt"></i> *@
        @* </div> *@
        @* <p>(<span>120</span> Review)</p> *@
        @* </div> *@
        @* <div class="price"> *@
        @*     <span>$50</span> *@
        @* </div> *@
        @* </div> *@
        @* </div> *@
        @* </div> *@
        @*                     </div> *@
        @*                 </div> *@

        @*             </div> *@
        @*         </div> *@
        @*     </div> *@

        @* </div> *@
        @*     <div class="tab-pane fade" id="nav-two" role="tabpanel" aria-labelledby="nav-two-tab"> *@

        @*         <div class="row"> *@
        @*             <div class="col-xl-12"> *@
        @*                 <div class="more-btn text-center mt-15"> *@
        @*                     <a href="#" class="border-btn border-btn2 more-btn2">Browse More</a> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* </section> *@
        <!-- Latest-items End -->
        <!-- Want To work -->
        @* <section class="container"> *@
        @*     <div class="row align-items-center justify-content-between"> *@
        @*         <div class="col-xl-6 col-lg-6"> *@
        @*             <div class="wantToWork-area w-padding2 mb-30" data-background="assets/img/gallery/wants-bg1.jpg"> *@
        @*                 <h2>活動<br> 推播</h2> *@
        @*                 <div class="linking"> *@
        @*                     <a href="#" class="btn wantToWork-btn">View Details</a> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@

        @*     </div> *@
        @* </section> *@
        <!-- Want To work End -->
    </template>
    <!--使用者介面區結束-->
</main>

<script>
    Vue.createApp({
        data(){
            return{
                popularArticles:[],
                isAdmin:false,
                users:[],
                isCheckOpen:false,
                LevelUpCheckText:"✖ 關閉",
                editUser:null,
                isEditModalVisible: false
            }
        },
        methods:{
            sortArticles() {
                let self = this;

                fetch("/api/PopularArticles/get").then((response) => response.json()).then(res => self.popularArticles=res) // 輸出成 json
            },
            checkAdmin(){
                // 檢查是否為管理員
                let self = this;
                fetch("/api/AccountApi/isAdmin")
                    .then(response => response.json())
                    .then(result => self.isAdmin = result)
            },
            getArticleUrl(popularArticle)
            {
                var url;
                if(popularArticle.type)//typeof false==新聞
                {
                    url=`/DiscussArticleView/DiscussArticle?id=${popularArticle.articlesId}`
                }
                else
                {
                    url=`/NewsArticle/NewsArticle?id=${popularArticle.articlesId}`
                }
                return url;
            },
            openLevelUpCheck()
            {
                let self = this;
                fetch("/api/User/CheckLevelDaily").then(x=>{
                    if(self.isCheckOpen == false){
                        self.isCheckOpen = true;
                        self.sidebarControllerText = "☰ 開啟";
                    }
                });
            },
            getUser()
            {
                fetch("api/AccountApi/GetUser")
                .then(response => response.json())
                .then(result => {
                    this.users = result;
                })
            },
            openEditModal(userId)
            {
                console.log('編輯 userId:', userId);
                const userEdit = this.users.find(u => u.userId == userId);
                this.editUser = JSON.parse(JSON.stringify(userEdit));
                this.isEditModalVisible = true; // 顯示編輯 Modal
            },
            closeEditModal() {
                this.isEditModalVisible = false;
                this.editUser = null; // 清空編輯的使用者資料
            },
            saveEditedUser() {
                    if (!this.editUser) {
                    alert('沒有要儲存的使用者資料！');
                    return;
                }

                fetch("api/AccountApi/updateUser", {
                    method: 'POST', // 或 PUT，根據你的 API 設計
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(this.editUser)
                })
                .then(response => {
                    if (response.ok) {
                        // 後端更新成功，更新前端 users 陣列
                        const index = this.users.findIndex(user => user.userId === this.editUser.userId);
                        if (index !== -1) {
                             // 使用 Object.assign 保持響應式
                            Object.assign(this.users[index], this.editUser);
                        }
                        
                        alert('使用者資料已更新！');
                        // 可以選擇重新載入使用者資料，以確保資料是最新的
                        // this.getUser();
                        window.location.reload()
                    } else {
                        console.error('更新使用者資料失敗:', response);
                        alert('更新使用者資料失敗，請檢查錯誤訊息。');
                    }
                })
                .catch(error => {
                    console.error('更新使用者資料時發生錯誤:', error);
                    alert('更新使用者資料時發生錯誤，請稍後再試。');
                });
            },
            // deleteUser(userId) {
                // console.log(userId)
                // if (confirm("確定要刪除嗎？")) {
                    //在這裡發送刪除請求到後端 API
                    // fetch('api/AccountApi/deleteUser/'+userId, {
                        // method: 'DELETE'
                    // })
                    // .then(response => {
                        // if (response.ok) {
                            // this.users = this.users.filter(u => u.userId !== userId);
                            // alert('使用者已刪除！');
                        // } else {
                            // console.error('刪除使用者失敗:', response);
                            // alert('刪除使用者失敗，請檢查錯誤訊息。');
                        // }
                    // })
                    // .catch(error => {
                        // console.error('刪除使用者時發生錯誤:', error);
                        // alert('刪除使用者時發生錯誤，請稍後再試。');
                    // });
                // }
            // }       

        },
        mounted() {
            this.sortArticles();
            this.checkAdmin();
            this.getUser();
            // this.getSignature();
            // this.transWords();
        }
    }).mount("#app");

    //首頁動圖效果
        document.addEventListener("DOMContentLoaded", function() {
      // 用 localStorage 控制一次性動畫
      if (!localStorage.getItem('splashPlayed')) {
        document.getElementById('splash').style.display = 'flex';
        document.getElementById('main-content').style.display = 'none';
        // 動畫結束後自動隱藏    
        setTimeout(function() {
          document.getElementById('splash').style.display = 'none';
          document.getElementById('main-content').style.display = 'block';
          localStorage.setItem('splashPlayed', 'true');
        }, 3000); // 3秒後隱藏動畫
      } else {
        // 已經看過動畫，直接顯示主內容
        document.getElementById('splash').style.display = 'none';
        document.getElementById('main-content').style.display = 'block';
      }
    });
    
    // 連按三次 Shift 顯示管理員輸入框
    let shiftCount = 0;
    document.addEventListener('keydown', function(e){
        if(e.key === 'Shift'){
            shiftCount++;
            if(shiftCount === 3){
                document.getElementById('secret-input').style.display = 'block';
                document.getElementById('secret-input').focus();
                shiftCount = 0;
            }
            setTimeout(()=>{ shiftCount = 0; }, 1500); // 1.5秒內未連按歸零
        }
    });   
    
        //輸入關鍵字導到管理員登入頁
    document.getElementById('secret-input').addEventListener('keydown', function(e){
        // 按下 Enter 鍵
        if(e.key === 'Enter'){
            if(this.value.trim().toLowerCase() === 'bomanager'){
                // 導向 bomanager 的登入頁
                window.location.href = '/bomanager/login';
            } else {
                alert('關鍵字錯誤');
            }
        }
    });
    
</script>
<style>
    .editsam {
        position: fixed; /* 相對於瀏覽器視窗定位 */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* 將元素中心移動到視窗中心 */
        background-color: white; /* 設定背景顏色 */
        padding: 20px; /* 增加內邊距 */
        border: 1px solid #ccc; /* 可選：增加邊框 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 可選：增加陰影效果 */
        z-index: 1001; /* 確保彈出視窗在遮罩之上 */
    }

    /* 半透明背景遮罩 */
    .modal-overlaysam {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
        z-index: 1000; /* 確保遮罩在彈出視窗之下 */
    }
</style>
