@{
    ViewData["Title"] = "討論版首頁";
}




<body>
    @* <header> *@
    @*     <div class="header-area"> *@
    @*         <div class="main-header "> *@

                @* <div class="header-bottom  header-sticky"> *@
                @*     <div class="container"> *@
                @*         <div class="row align-items-center"> *@
                @*             <div class="col-xl-12"> *@
                @*                 <!-- logo 2 --> *@
                @*                 <div class="logo2"> *@
                @*                     <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a> *@
                @*                 </div> *@
                @*                 <!-- Main-menu --> *@
                @*                 <div class="main-menu text-center d-none d-lg-block"> *@
                @*                     <nav> *@
                @*                         <ul id="navigation"> *@
                @*                             <li><a href="index.html">Home</a></li> *@
                @*                             <li><a href="categories.html">Categories</a></li> *@
                @*                             <li><a href="about.html">About</a></li> *@
                @*                             <li> *@
                @*                                 <a href="#">Pages</a> *@
                @*                                 <ul class="submenu"> *@
                @*                                     <li><a href="login.html">login</a></li> *@
                @*                                     <li><a href="cart.html">Cart</a></li> *@
                @*                                     <li><a href="checkout.html">Checkout</a></li> *@
                @*                                     <li><a href="book-details.html">book Details</a></li> *@
                @*                                     <li><a href="blog_details.html">Blog Details</a></li> *@
                @*                                     <li><a href="elements.html">Element</a></li> *@
                @*                                 </ul> *@
                @*                             </li> *@
                @*                             <li><a href="blog.html">Blog</a></li> *@
                @*                             <li><a href="contact.html">Contect</a></li> *@
                @*                             <li> *@
                @*                                 <a asp-area="" asp-controller="DiscussArticleView" asp-action="Index">討論版</a> *@
                @*                             </li> *@
                @*                             <li> *@
                @*                                 <a asp-area="" asp-controller="NewsArticle" asp-action="Index">新聞版</a> *@
                @*                             </li> *@
                @*                         </ul> *@
                @*                     </nav> *@
                @*                 </div> *@
                @*             </div> *@
                @*             <!-- Mobile Menu --> *@
                @*             <div class="col-xl-12"> *@
                @*                 <div class="mobile_menu d-block d-lg-none"></div> *@
                @*             </div> *@
                @*         </div> *@
                @*     </div> *@


                @* </div> *@
    @*         </div> *@

    @*     </div> *@
    @* </header> *@



    <main id="app">
        @*Amy---改button成a連結+連結到使用者po文區*@
        <a asp-controller="DiscussArticleView" asp-action="DiscussPoster"
           class="wormhole-artPostBTN" v-if="isUser">發表文章</a>

        <!--  Hero area End -->
        @* <!-- Blog Area Start-->文章內容開始 *@
        <section class="blog_area section-padding">
            <div class="container" >
                <div class="row justify-content-center">
                    <article class="blog_item col-8">
                        <div v-for="article in nowArticles" :key="article.articleID" class="blog_details wormhole-articlesListCard">
                            <img class="img-fluid" v-bind:src="'/api/ArticlesApi/GetPicture/'+article.articleID+'?v='+rand" />
                            <a :href="'/DiscussArticleView/DiscussArticle?id=' + article.articleID">
                                <h2 class="blog-head" style="color:whitesmoke;">{{article.title}}</h2>
                            </a>
                            <p class="ellipsis-text" style="color:whitesmoke;">
                                {{article.content}}
                            </p>
                            <ul class="blog-info-link">
                                <li><a :href="'/User/ViewProfile?id='+ article.writerID"><i class="fa fa-user"></i> {{article.writerNickname}}</a></li>
                                <li><a :href="'/DiscussArticleView/DiscussArticle?id=' + article.articleID + '#comment'"><i class="fa fa-comments"></i> {{article.commentCount}}則留言</a></li>
                                <li style="color:#D5dcff"><i class="far fa-calendar-alt" style="color:#D5dcff"></i> {{article.formattedCreateTime}}</li>
                            </ul>
                        </div>
                    </article>

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
							@* 上一頁 *@
                            <li class="page-item" :class="{ disabled: currentPage === 1 }">
                                <a href="#" class="page-link" @@click.prevent ="goToPage(currentPage - 1)" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            @* 第?頁 *@
                            <li class="page-item active" v-for="page in totalPages" :key="page" :class="{ active: currentPage === page }">
                                <a href="#" class="page-link" @@click.prevent ="goToPage(page)">{{page}}</a>
                            </li>
                            @* 下一頁 *@
                            <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                                <a href="#" class="page-link" @@click.prevent ="goToPage(currentPage + 1)" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>


            </div>
        </section>
        <!-- Blog Area End -->
    </main>

    
</body>

<script>
    Vue.createApp({
        data() {
            return {
                articles:[],
                currentPage: 1,
                pageSize: 5,//每頁顯示文章篇數
                isUser:false,
            }
        },
        methods: {

            getArticles() {
                let self = this;
                fetch("/api/ArticlesApi/Discuss").then(x => x.json()).then(res => self.articles = res)
            },

            goToPage(page) {
                if (page >= 1 && page <= this.totalPages) {
                this.currentPage = page;
                //換頁捲到頁頂
                window.scrollTo({
                    top: 0,
                    behavior: "smooth"
                    });
                }
            },

            //amy新增
            //判斷是否是使用者，是則顯示發表文章功能
            isUserFun(){
                let self=this;
                fetch("/api/ArticlesApi/isUser", {
                    credentials: 'include'
                    }).then(res=>res.json())
                    .then(res=>self.isUser=res);
            },
            getArticles() {
                let self = this;
                fetch("/api/ArticlesApi/Discuss").then(x => x.json()).then(res => self.articles = res)
            },

        },
        computed:{
            nowArticles() {
                const start = (this.currentPage - 1) * this.pageSize;//計算起始值
                const end = start + this.pageSize;//結束值
                return this.articles
                    .filter(a => a.type === true)//篩選討論版文章
                    .slice(start, end);//取出頁面要顯示的文章
            },
            totalPages() {
                const filteredArticles = this.articles.filter(a => a.type === true);//篩選討論版文章
                return Math.ceil(filteredArticles.length / this.pageSize);//總文章數/每頁顯示幾篇(無條件進位)
                },
         },
        mounted() {
            this.getArticles();
            this.isUserFun();
        }
    }).mount("#app")

</script>