@using System.Web
<body>
    <!-- header end -->
    <main class="login-bg">
        <!-- Register Area Start -->
        <div class="register-form-area">
            <div class="register-form text-center" id="app">
                <!-- Login Heading -->
                <div class="register-heading">
                    <span style="font-weight:bolder;">忘 記 密 碼</span>
                    <p style="font-weight:bold;">輸入電子郵件信箱，取得重設密碼連結</p>
                </div>
                <form action="/Account/ForgotPassword" method="post">
                    <!-- Single Input Fields -->
                    <div class="input-box" style="height: 200px;">
                        <div class="single-input-fields">
                            <label style="font-size:20px; font-weight:bold;">電子郵件信箱</label>
                            <input type="text" name="Email" v-model="Email" @@input="checkEmail" placeholder="輸入您的信箱" style="margin-bottom: 10px;">
                            <label v-show="isEmptyEmail" style="float:left; color: red; font-size: 12px; margin-bottom: 20px;">此欄位為必填</label>
                            <label v-show="isEmailFormat" style="float:left; color: green; font-size: 12px; margin-bottom: 20px;">符合Email帳號格式</label>
                            <label v-show="isNotEmailFormat" style="float:left; color: red; font-size: 12px; margin-bottom: 20px;">不符合Email帳號格式</label>
                        </div>
                    </div>
                    <!-- form Footer -->
                    <div class="register-footer" style="margin-bottom: 20px; float:right;" >
                        <button v-bind:disabled="!formIsValid" class="submit-btn3" style="padding: 0px 20px; height: 40px; font-size:20px; font-weight:bold;">確定送出</button>
                    </div>
                </form>

            </div>
        </div>
        <!-- Register Area End -->
    </main>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var hasMessage = @((TempData["ForgotPasswordFail"] != null) ? "true" : "false");
        if (hasMessage) {
            Swal.fire({
                title: '異常通知',
                text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(TempData["ForgotPasswordFail"]?.ToString() ?? ""))',
                confirmButtonText: '確定'
            });
        }
    });
     Vue.createApp({
        data() {
            return {
                    Email: "",
                    isEmptyEmail:true,
                    isNotEmailFormat:false,
                    isEmailFormat:false
            };
        },
        methods: {
            checkEmail(){
                let self = this;
                if (self.Email == "") {
                    self.isEmailFormat = false;
                    self.isNotEmailFormat = false;
                    self.isEmptyEmail = true;
                    return;
                }
                else{
                    let emailRule = /^\w+((-\w+)|(\.\w+))*\@@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
                    self.isEmailFormat = emailRule.test(self.Email);
                    self.isNotEmailFormat = !self.isEmailFormat;
                    self.isEmptyEmail = false;
                }
            },
        },
        computed:{
            formIsValid() {
                let self = this;
                return !self.isEmptyEmail && self.isEmailFormat;
            }
        },
        mounted() {

        },
    }).mount("#app")
</script>