<div class="login-bg">
	<div class="register-form-area" id="app">
		<div class="register-form text-center">
			<h1>歡 迎 來 到 Wormhole !</h1>
			<h2>確認重設密碼</h2>
			<p>請確認信箱，取得重設密碼連結</p>
		</div>
	</div>
</div>