<div class="login-bg">
	<div class="register-form-area" id="app">
		<div class="register-form text-center" style="background-color:gray;">
			<h1>歡 迎 來 到 Wormhole !</h1>
			<h2>確認註冊</h2>
			<p>登入前請檢查您的電子郵件以驗證您的帳戶</p>

			<p>還沒收到驗證信? <a href="/Account/ResendConfirmationEmail"> 重新寄送驗證信</a></p>
		</div>
	</div>
</div>