@using System.Web
<body>
    <!-- header end -->
    <main class="login-bg">
        <!-- Register Area Start -->
        <div class="register-form-area">
            <div class="register-form text-center" id="app">
                <!-- Login Heading -->
                <div class="register-heading">
                    <span style="font-weight:bolder;">重 設 密 碼</span>
                </div>
                <form action="/Account/ResetPassword" method="post">
                    <!-- Single Input Fields -->
                    <div class="input-box" style="margin-bottom: 25px;">
                        <div class="single-input-fields" style="overflow: hidden;">
                            <label style="font-size:20px; font-weight:bold;">密碼</label>
                            <input type="password" v-model="Password" name="Password" @@input="checkPassword" placeholder="輸入密碼" style="margin-bottom: 10px;" minlength="8" maxlength="20">
                            <label v-show="isEmptyPassword" style="float:left; color: red; font-size: 12px; margin-bottom: 20px;">此欄位為必填</label>
                            <label v-show="isValidPassword" style="float:left; color: green; font-size: 12px; margin-bottom: 20px;">有效的密碼</label>
                            <label v-show="isInValidPassword" style="float:left; color: red; font-size: 12px; margin-bottom: 20px;">不符合密碼規則</label>
                        </div>
                        <div class="single-input-fields" style="overflow: hidden;">
                            <label style="font-size:20px; font-weight:bold;">確認密碼</label>
                            <input type="password" v-model="ConfirmPassword" name="ConfirmPassword" @@input="checkConfirmPassword" placeholder="再次輸入密碼" style="margin-bottom: 10px;" minlength="8" maxlength="20">
                            <label v-show="isEmptyConfirmPassword" style="float:left; color: red; font-size: 12px; margin-bottom: 20px;">此欄位為必填</label>
                            <label v-show="isMatchPassword" style="float:left; color: green; font-size: 12px; margin-bottom: 20px;">與密碼一致</label>
                            <label v-show="isNotMatchPassword" style="float:left; color: red; font-size: 12px; margin-bottom: 20px;">與密碼不相符</label>
                        </div>
                    </div>
                    <!-- form Footer -->
                    <div class="register-footer" style="margin-bottom: 20px; float:right;">
                        <button v-bind:disabled="!formIsValid" class="submit-btn3" style="padding: 0px 20px; height: 40px; font-size:20px; font-weight:bold;">重設密碼</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Register Area End -->
    </main>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var hasMessage = @((TempData["ResetPasswordFail"] != null) ? "true" : "false");
        if (hasMessage) {
            Swal.fire({
                title: '異常通知',
                text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(TempData["ResetPasswordFail"]?.ToString() ?? ""))',
                confirmButtonText: '確定'
            });
        }
    });
     Vue.createApp({
        data() {
            return {
                    Password:"",
                    ConfirmPassword:"",
                    isEmptyPassword:true,
                    isEmptyConfirmPassword:true,
                    isValidPassword: false,
                    isInValidPassword: false,
                    isMatchPassword: false,
                    isNotMatchPassword: false,
            };
        },
        methods: {
            checkPassword(){
                let self = this;
                if (self.Password == "") {
                    self.isValidPassword = false;
                    self.isInValidPassword = false;
                    self.isEmptyPassword = true;
                    return;
                }
                else{
                    self.isValidPassword = false;
                    self.isInValidPassword = false;
                    self.isEmptyPassword = false;
                }

                if (self.Password.length < 8){
                    self.isValidPassword = false;
                    self.isInValidPassword = true;
                }
                else {
                    self.isValidPassword = true;
                    self.isInValidPassword = false;
                }
            },
            checkConfirmPassword(){
                let self = this;
                if (self.ConfirmPassword == "") {
                    self.isMatchPassword = false;
                    self.isNotMatchPassword = false;
                    self.isEmptyConfirmPassword = true;
                    return;
                }
                else{
                    self.isMatchPassword = false;
                    self.isNotMatchPassword = false;
                    self.isEmptyConfirmPassword = false;
                }

                if(self.Password == self.ConfirmPassword)
                {
                    self.isMatchPassword = true;
                    self.isNotMatchPassword = false;
                }
                else{
                    self.isMatchPassword = false;
                    self.isNotMatchPassword = true;
                }
            }
        },
        computed:{
            formIsValid() {
                let self = this;
                return self.isValidPassword && self.isMatchPassword;
            }
        },
        mounted() {

        },
    }).mount("#app")
</script>

