<body>

    <main class="login-bg" style="height: 140vh;">
        <!-- login Area Start -->
        <div class="login-form-area" id="app">
            <form action="/BOManager/Login" method="post">
                <div class="login-form">
                    <!-- Login Heading -->
                    <div class="login-heading">
                        <span>管 理 員 登 入</span>
                    </div>
                    <!-- Single Input Fields -->
                    <div class="input-box">
                        <div class="single-input-fields">
                            <label style="font-size:20px; font-weight:bold;">帳號</label>
                            <input type="text" name="Account" placeholder="輸入帳號">
                        </div>
                        <div class="single-input-fields">
                            <label style="font-size:20px; font-weight:bold;">密碼</label>
                            <input type="password" name="Password" placeholder="輸入密碼">
                        </div>
                    </div>
                    <!-- form Footer -->
                    <div class="login-footer">
                        <button class="submit-btn3" type="submit" style="font-size:20px; font-weight:bold;">登入</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- login Area End -->
    </main>


</body>