@{
    ViewData["Title"] = "發表文章";
}


<body>
    <!-- Blog Area Start -->
    <section class="blog_area single-post-area" id="app">
        <div class="container">
            <div class="row row-cols-2 ">
                <div class="col-lg-3">
                    @* <div class="row row-cols-1"> *@
                    @*     <div class="form-group col-3"> *@
                    @*         <button type="submit" class=" btn_1 boxed-btn mt-5">討論版</button> *@
                    @*     </div> *@
                    @* </div> *@
                    <div class="row d-flex justify-content-center">
                        <div class="form-group col-3">
                            <button @@click="jumpToNewsArticleView" type="button" class="genric-btn primary-border mt-5">新聞版</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="comment-form publishDiv">
                        <div class="row align-items-center">
                            <h4 class="form-group col-6" style="font-weight:bold; font-size:36px;">發表文章</h4>
                            <div class="form-group col-3">
                                <button @@click="jumpToNewsArticleView" class="genric-btn primary-border radius py-2 my-3 ">取消編輯</button>
                            </div>

                            <div class="form-group col-3">
                                <button v-if="EditMode" @@click="putEditArticle" class="genric-btn primary radius py-2 my-3">儲存</button>
                                <button id="postNewArticle" v-else="EditMode" @@click="add" class="genric-btn primary radius py-2 my-3">發表</button>
                            </div>
                        </div>
                        <form class="form-contact comment_form" action="#" id="commentForm">
                            <div class="row">
                                <div class="col-12 pb-3 box">
                                    <h3>上傳封面</h3>
                                    <div style="width:600px; border: 2px solid gray; overflow:hidden;">
                                        <img id="PreViewCover" class="img-fluid" v-bind:src="getArticleCover()" title="待上傳" asp-append-version=true />
                                    </div>
                                    <input type="file" id="ArticleCoverFile" class="form-control" @@change="ArticleCoverFileChange($event.target)" accept="image/*">
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control writer" style="background-color: rgb(255, 255, 255);" v-model="posterTitle" id="posterTitle" type="text"
                                               placeholder="標題">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" style="background-color: rgb(255, 255, 255);" v-model="posterComment" id="posterComment" cols="30" rows="9"
                                                  placeholder="文章內容"></textarea>
                                        <textarea v-for="item in signature" class="form-control w-100" style="background-color: rgb(255, 255, 255);" id="signature" cols="30" rows="3" readonly="readonly"
                                                  placeholder="簽名檔">{{item}}</textarea>
                                    </div>
                                </div>
                                @* <div class="col-12 pb-3 box"> *@
                                @*     <button @@click="getSignature" class="genric-btn primary radius">加入簽名檔</button> *@
                                    @* <input type="checkbox"  @@click="getSignature" class="button button-contactForm btn_1 boxed-btn"> *@
                                    @* <lable>加入簽名檔</lable> *@
                                @* </div> *@

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->


</body>

<script>
    Vue.createApp({
        data(){
            return{
                posterTitle:"",
                posterComment:"",
                writerId:5,
                signature:[],
                signatureString:"",
                EditMode:false,
                EditId:0,
                rand:1,
            }
        },
        methods:{
            /*------------發表文章-----------*/
            add() {
                let self = this;
                var data = new FormData();
                data.append("title",self.posterTitle);
                data.append("content",self.posterComment);
                data.append("writerId",self.writerId);
                data.append("signature",self.signatureString);
                data.append("ArticleCover",document.querySelector("#ArticleCoverFile").files[0]);
                // alert(JSON.stringify(data));
                fetch("/api/Poster/postArticle", {
                    body:data, // must match 'Content-Type' header
                    // headers: {
                    //     "content-type": "application/json",
                    // },
                    method: "POST",
                }).then((response) => response.json()).then(res => {
                    if (res) {
                        // alert('ok');
                        self.rand=new Date().getTime(); //用時間控制rand擷取版本
                        alert("上傳文章成功");
                        self.jumpToNewsArticleView(); //Borneol 4/24 我加來測試，可依需求刪留
                    } else {
                      alert('上傳文章失敗')
                    }
                })
            },
            /*------------發表文章-----------*/

            /*------------編輯文章-----------*/
            //得到編輯文章內容
            async getEditArticle(){
                var self=this;
                if(localStorage.getItem("EditArticleId")!=null)//無對應id則不讀取資料
                {
                    //文章編輯模式
                    // alert("編輯文章");
                    var ArticleId=localStorage.getItem("EditArticleId");
                    self.EditId=localStorage.getItem("EditArticleId");
                    self.EditMode=true;
                    try{
                        var res=await fetch(`/api/Poster/GetEditArticle/${ArticleId}`,{method:"GET"})
                            if(res.ok)
                            {
                                var data=await res.json();
                                // alert(JSON.stringify(data));
                                self.posterTitle=data.title;//雙向繫結，自動變化內文
                                self.posterComment=data.content;
                                localStorage.removeItem("EditArticleId");
                            }
                    }
                    catch(err){
                        alert("error");
                    }
                }
                else
                {
                    self.EditMode=false;
                }
            },
            //送出編輯文章
            async putEditArticle(){
                let self = this;
                var data = new FormData();
                data.append("title",self.posterTitle);
                data.append("content",self.posterComment);
                data.append("writerId",self.writerId);
                data.append("signature",self.signatureString);
                data.append("ArticleCover",document.querySelector("#ArticleCoverFile").files[0]);

                var res= await fetch(`/api/Poster/EditArticle/${self.EditId}`, {
                    body:data, // must match 'Content-Type' header
                    method: "PUT",
                });
                if(res.ok)
                {
                    var message=await res.text();
                    self.rand=new Date().getTime();
                    alert(message);
                    self.EditMode=false;
                    self.jumpToNewsArticleView();
                }

            },
            /*------------編輯文章-----------*/
            /*------------取得文章封面-----------*/
            getArticleCover()
            {
                let self = this;
                var res;
                if(self.EditMode){//待改抓傳入的list 文章 id
                    res= `/api/Poster/GetPhoto?id=${self.EditId}&v=${self.rand}`;
                }
                else{
                    res=`/images/noimages.jpg`;//之後改成無圖片專用顯示圖
                }
                    return res;
            },
            /*------------取得文章封面-----------*/

            getSignature()
            {
                let self=this;
                fetch('/api/Poster/getSignature?userID=' + 5, {
                    method: 'GET'
                }).then((response) => response.json()).then(res => self.signature=res)
            },
            transWords(){
                let self = this;
                var output=JSON.parse(JSON.stringify(self.signature))
                console.log(output);
            },
            jumpToNewsArticleView(){
                fetch('/NewsArticle/Index' , {
                    method: 'GET'
                }).then(() => {window.location.href="/NewsArticle";})
            },
            readURL(inputTypeFile,img,btn){
                if(inputTypeFile.files[0]!=null){
                    var file=inputTypeFile.files[0];
                    var allowType="image.*";
                    if(file.type.match(allowType)){
                        btn.prop("disabled",false);
                        var reader=new FileReader();
                        reader.onload=function(e){
                            img.src=e.target.result;
                            img.title=file.name;
                        };
                        reader.readAsDataURL(file);
                    }
                    else
                    {
                        alert("請選擇圖片檔案");
                        btn.prop("disabled",true);
                        inputTypeFile.value="";
                    }
                }
            },
            ArticleCoverFileChange(inputTypeFile){
                    //alert(`Change:${inputTypeFile.name}`);
                    let self=this;
                    self.readURL(inputTypeFile,inputTypeFile.previousElementSibling.firstElementChild,$("#postNewArticle"));
            },
        },
        mounted() {
            // this.getSignature();
            // this.transWords();
                this.getEditArticle();

        }
    }).mount("#app");
</script>

